
.expander { width:15px; text-align: center; }
.line.visited {background: rgba(255,255,0,0.1); }
.inlined { display:none; 
           border:1px silver solid; 
           }
.code { font-family: monospace;  }
.line-code { font-family: monospace;  white-space: pre;}

.watches {  background: white ; 
            border: 1px dotted green;
            overflow-y: auto;
            position: relative;
            height: 80px;
            display: block;
            resize: both;
            }

.button{
    display: inline-block;
    /* background: #ff0;
    padding: 8px 12px;
     */
    border: 1px solid silver;
    border-radius: 4px;
    
    cursor: pointer;
    
}

.button:hover{
/*
    background: white;
*/
}

.watch-toggler { background-color: lightgreen }
.toggler, .toggler.closed { background-color: yellow;  } 
.toggler.opened { background-color: transparent;  } 


/************* table for watches  ************/
/* https://stackoverflow.com/a/25902860/4217317 */
